[common]
server_addr = 211.139.254.126
server_port = 65531

# 客户端认证 token，需要和服务端 token 保持一致
token = admin

# 启用加密，防止流量被拦截
use_encryption = true
# 启用压缩，提升流量转发速度
use_compression = true

[socks5]
type = tcp
remote_port = 10000
plugin = socks5
plugin_user = admin
plugin_passwd = admin
use_encryption = true         
use_compression = true